extends layout

block content
    p Welcome to #{title}
  ul 
    li
      a(href="/api/climbTable") Climb Table
    li
      a(href="/api/flaps5Table") Flaps5 
    li
      a(href="/api/flaps10Table") Flaps10 
    li
      a(href="/api/flaps15Table") Flaps15
    li
      a(href="/api/LandingTable") LandingTable